
.customers {
  background-image: url("../img/customers.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  margin-bottom: 80px;
  margin-top: 50px;
}
.customers__content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 1200px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.customers__content__header {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #d0d0d0;
  margin-bottom: 50px;
  margin-top: 100px;
}
.customers__content__header:before,
.customers__content__header:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  height: 2px;
  background-color: #777;
  position: relative;
}
.customers__content__header:before {
  margin-left: -100%;
  left: -14px;
}
.customers__content__header:after {
  margin-right: -100%;
  right: -14px;
}
.customers_content__text {
  width: 1000px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: #d8d8d8;
  margin-bottom: 20px;
}
.customers_content__author {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #1abb9c;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .customers__content {
    width: 950px;
  }
  .customers_content__text {
    width: 950px;
  }
  .customers {
    margin-bottom: 50px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .customers__content {
    width: 760px;
  }
  .customers_content__text {
    width: 760px;
  }
  .customers {
    min-height: 330px;
    margin-bottom: 50px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .customers__content {
    width: 400px;
  }
  .customers_content__text {
    width: 400px;
    font-size: 16px;
  }
  .customers {
    min-height: 270px;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .customers__content__header {
    margin-bottom: 30px;
    margin-top: 70px;
  }
  .customers__content__header:after,
  .customers__content__header:before {
    width: 50px;
  }
}
@media (min-width: 320px) and (max-width: 424px) {
  .customers__content {
    width: 300px;
  }
  .customers_content__text {
    width: 300px;
    font-size: 16px;
  }
  .customers {
    min-height: 270px;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .customers__content__header {
    margin-bottom: 30px;
    margin-top: 70px;
  }
  .customers__content__header:after,
  .customers__content__header:before {
    width: 10px;
  }
}

.do {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 1150px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.do__header {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #606060;
  margin-bottom: 60px;
}
.do__header:before,
.do__header:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  height: 2px;
  background-color: #e1e1e1;
  position: relative;
}
.do__header:before {
  margin-left: -100%;
  left: -14px;
}
.do__header:after {
  margin-right: -100%;
  right: -14px;
}
.do__block {
  width: 1150px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  -webkit-flex-flow: row wrap;
  margin-bottom: 100px;
}
.do__item {
  display: flex;
  flex-flow: column;
  width: 230px;
  height: 280px;
  border: solid 1px #e1e1e1;
  position: relative;
  z-index: 1;
}
.do__item:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -7px;
  left: -7px;
  border: solid 1px #e1e1e1;
  width: 241px;
  height: 280px;
  padding-bottom: 12px;
  z-index: 2;
}
.do__content {
  width: 220px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: auto;
}
.do__content__header {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #606060;
  margin-bottom: 10px;
  margin-top: 20px;
}
.do__content__text {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: medium;
  color: #7a7a7a;
  margin-bottom: 10px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .do__block {
    width: 900px;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .do {
    width: 900px;
  }
  .do__item {
    margin-bottom: 30px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .do__block {
    width: 600px;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .do {
    width: 760px;
  }
  .do__item {
    margin-bottom: 30px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .do__block {
    width: 400px;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .do {
    width: 400px;
  }
  .do__item {
    margin-bottom: 30px;
  }
}
@media (min-width: 320px) and (max-width: 424px) {
  .do__block {
    width: 300px;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .do {
    width: 300px;
  }
  .do__item {
    margin-bottom: 30px;
  }
}

.footer {
  background: #333;
}
.footer__text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  min-height: 70px;
  align-items: center;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: medium;
  color: #cacaca;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .footer__text {
    width: 1000px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .footer__text {
    width: 700px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .footer__text {
    width: 400px;
  }
}
@media (min-width: 320px) and (max-width: 424px) {
  .footer__text {
    width: 300px;
    font-size: 12px;
  }
}

.hello {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.hello__header {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #606060;
  margin-bottom: 10px;
}
.hello__text {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: lighter;
  font-style: normal;
  color: #606060;
  margin-bottom: 50px;
}
.slider {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}
.slider img {
  max-width: 1200px;
}
.slider__btn {
  flex-flow: column;
  align-items: center;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  color: #606060;
  background-color: #fdfdfd;
  width: 25px;
  height: 30px;
  padding-left: 10px;
  padding-top: 5px;
}
.slider__prev {
  margin-left: -1150px;
}
.slider__next {
  margin-left: 1030px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .slider {
    width: 1000px;
  }
  .slider img {
    max-width: 900px;
  }
  .slider__prev {
    margin-left: -880px;
  }
  .slider__next {
    margin-left: 680px;
  }
  .hello {
    width: 900px;
  }
  .hello__header {
    font-size: 25px;
  }
  .hello__text {
    font-size: 17px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .slider {
    width: 760px;
  }
  .slider img {
    max-width: 700px;
    max-height: 400px;
  }
  .slider__prev {
    margin-left: -670px;
  }
  .slider__next {
    margin-left: 500px;
  }
  .hello {
    width: 760px;
  }
  .hello__header {
    font-size: 25px;
  }
  .hello__text {
    font-size: 17px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .slider {
    display: none;
  }
  .hello {
    width: 400px;
    margin-bottom: 0px;
  }
  .hello__header {
    font-size: 20px;
  }
  .hello__text {
    font-size: 15px;
  }
}
@media (min-width: 320px) and (max-width: 424px) {
  .slider {
    display: none;
  }
  .hello {
    width: 300px;
    margin-bottom: 0px;
  }
  .hello__header {
    font-size: 20px;
  }
  .hello__text {
    font-size: 15px;
  }
}

.journal {
  width: 1200px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.journal__header {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #616161;
  margin-bottom: 40px;
}
.journal__header:before,
.journal__header:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  height: 2px;
  background-color: #e1e1e1;
  position: relative;
}
.journal__header:before {
  margin-left: -100%;
  left: -14px;
}
.journal__header:after {
  margin-right: -100%;
  right: -14px;
}
.journal__content {
  display: flex;
  flex-flow: row;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  width: 1200px;
  margin-bottom: 70px;
}
.journal__content__item {
  width: 350px;
}
.journal__content__item img {
  max-width: 350px;
}
.journal__content__item__header {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 15px;
}
.journal__content__item__header__data {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: medium;
  color: #7a7a7a;
  width: 30px;
  border: 1px solid #b1b1b1;
  padding: 5px;
  margin-right: 20px;
}
.journal__content__item__header__content {
  text-align: left;
}
.journal__content__item__header__content__header {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #606060;
  margin-bottom: 10px;
}
.journal__content__item__header__content__comments {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #1abb9c;
}
.journal__content__item__header__text {
  text-align: left;
  width: 400px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: medium;
  color: #7a7a7a;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .journal__content {
    width: 950px;
    margin-bottom: 30px;
  }
  .journal {
    width: 950px;
  }
  .journal__content__item {
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .journal__content {
    width: 760px;
    margin-bottom: 30px;
  }
  .journal {
    width: 760px;
  }
  .journal__content__item {
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .journal__content {
    width: 400px;
    margin-bottom: 3px;
  }
  .journal {
    width: 400px;
  }
  .journal__content__item {
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .journal__header:after,
  .journal__header:before {
    width: 50px;
  }
}
@media (min-width: 320px) and (max-width: 424px) {
  .journal__content {
    width: 300px;
    margin-bottom: 3px;
  }
  .journal {
    width: 300px;
  }
  .journal__content__item {
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .journal__content__item img {
    max-width: 300px;
  }
  .journal__content__item__header__text {
    width: 300px;
  }
  .journal__header:after,
  .journal__header:before {
    width: 30px;
  }
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  min-height: 70px;
  margin-bottom: 30px;
}
.navbar__container__logo img {
  height: 45px;
  width: 45px;
}
.navbar__container__nav {
  list-style: none;
}
.navbar__container__nav li {
  display: inline-block;
}
.navbar__container__nav__item {
  text-decoration: none;
  margin: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #858585;
  transition: 0.5s;
}
.navbar__container__nav__item:hover,
.navbar__container__nav__item:focus {
  color: #1abb9c;
  cursor: pointer;
  transition: 0.5s;
}
.navbar {
  background: #f5f5f5;
  min-width: 320px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .navbar__container {
    width: 900px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .navbar__container {
    width: 760px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .navbar__container {
    width: 400px;
  }
}
@media (min-width: 320px) and (max-width: 424px) {
  .navbar__container {
    width: 300px;
  }
}

.process {
  background-image: url("../img/process.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  margin-bottom: 80px;
  margin-top: 50px;
}
.process__content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 1200px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.process__content__text {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: medium;
  color: #d0d0d0;
  margin-bottom: 10px;
  max-width: 850px;
  line-height: 2;
}
.process__content__header {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #d0d0d0;
  margin-bottom: 20px;
  margin-top: 100px;
}
.process__content__header:before,
.process__content__header:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  height: 2px;
  background-color: #777;
  position: relative;
}
.process__content__header:before {
  margin-left: -100%;
  left: -14px;
}
.process__content__header:after {
  margin-right: -100%;
  right: -14px;
}
.process__content__items {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  -webkit-flex-flow: row wrap;
  width: 1200px;
  margin-top: 40px;
}
.process__content__items__item {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 200px;
  align-items: center;
  margin: 0 auto;
}
.process__content__items__item__text {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ddd;
  margin-bottom: 10px;
  width: 200px;
  line-height: 2;
}
.process__content__items__item__ideas {
  margin-bottom: 20px;
  display: block;
  background: url("../img/process_icons/ideas.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.process__content__items__item__ideas:hover,
.process__content__items__item__ideas:focus {
  background: url("../img/process_icons/ideas2.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.7s;
}
.process__content__items__item__ideas:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 170px;
  height: 1px;
  background-color: #777;
  position: relative;
  margin-right: -100%;
  right: -100px;
  margin-top: 50px;
}
.process__content__items__item__rapid {
  margin-bottom: 20px;
  display: block;
  background: url("../img/process_icons/rapid.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.process__content__items__item__rapid:hover,
.process__content__items__item__rapid:focus {
  background: url("../img/process_icons/rapid2.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.7s;
}
.process__content__items__item__rapid:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 170px;
  height: 1px;
  background-color: #777;
  position: relative;
  margin-right: -100%;
  right: -100px;
  margin-top: 50px;
}
.process__content__items__item__magic {
  margin-bottom: 20px;
  display: block;
  background: url("../img/process_icons/magic.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.process__content__items__item__magic:hover,
.process__content__items__item__magic:focus {
  background: url("../img/process_icons/magic2.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.7s;
}
.process__content__items__item__magic:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 170px;
  height: 1px;
  background-color: #777;
  position: relative;
  margin-right: -100%;
  right: -100px;
  margin-top: 50px;
}
.process__content__items__item__award {
  margin-bottom: 20px;
  display: block;
  background: url("../img/process_icons/award.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.process__content__items__item__award:hover,
.process__content__items__item__award:focus {
  background: url("../img/process_icons/award2.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.7s;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .process__content {
    width: 1000px;
  }
  .process__content__header {
    margin-top: 60px;
  }
  .process__content__items {
    width: 1000px;
  }
  .process {
    min-height: 430px;
    margin-bottom: 50px;
  }
  .process__content__items__item {
    width: 100px;
  }
  .process__content__items__item__ideas:after,
  .process__content__items__item__rapid:after,
  .process__content__items__item__magic:after {
    width: 135px;
    right: -75px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .process__content {
    width: 700px;
  }
  .process__content__header {
    margin-top: 60px;
  }
  .process__content__items {
    width: 700px;
  }
  .process {
    min-height: 430px;
    margin-bottom: 50px;
  }
  .process__content__items__item {
    width: 100px;
  }
  .process__content__items__item__ideas:after,
  .process__content__items__item__rapid:after,
  .process__content__items__item__magic:after {
    width: 60px;
    right: -40px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .process__content {
    width: 400px;
  }
  .process__content__header {
    margin-top: 60px;
  }
  .process__content__items {
    width: 400px;
  }
  .process {
    min-height: 430px;
    margin-bottom: 10px;
  }
  .process__content__items__item {
    width: 200px;
    margin-bottom: 10px;
  }
  .process__content__items__item__rapid:after {
    display: none;
  }
  .process__content__items__item__ideas:after,
  .process__content__items__item__magic:after {
    width: 70px;
    right: -50px;
  }
}
@media (min-width: 320px) and (max-width: 424px) {
  .process__content {
    width: 300px;
  }
  .process__content__header {
    margin-top: 60px;
  }
  .process__content__items {
    width: 300px;
  }
  .process {
    min-height: 430px;
    margin-bottom: 10px;
  }
  .process__content__items__item {
    width: 200px;
    margin-bottom: 10px;
  }
  .process__content__items__item__rapid:after,
  .process__content__items__item__ideas:after,
  .process__content__items__item__magic:after {
    display: none;
  }
  .process__content__header:after,
  .process__content__header:before {
    width: 50px;
  }
}

.recent {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 1200px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.recent__header {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #616161;
  margin-bottom: 50px;
}
.recent__header:before,
.recent__header:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  height: 2px;
  background-color: #e1e1e1;
  position: relative;
}
.recent__header:before {
  margin-left: -100%;
  left: -14px;
}
.recent__header:after {
  margin-right: -100%;
  right: -14px;
}
.recent__content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  -webkit-flex-flow: row wrap;
  width: 1200px;
  margin-bottom: 70px;
}
.recent__content__item__header {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #616161;
  margin-top: 10px;
  margin-bottom: 3px;
}
.recent__content__item__header2 {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #1abb9c;
  margin-bottom: 10px;
}
.recent__content__item__text {
  width: 350px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: medium;
  color: #7a7a7a;
  margin-bottom: 3px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .recent__content {
    width: 950px;
    justify-content: space-around;
  }
  .recent {
    width: 950px;
  }
  .recent__content__item {
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .recent__content {
    width: 760px;
  }
  .recent {
    width: 760px;
  }
  .recent__content__item {
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .recent__content {
    width: 400px;
  }
  .recent {
    width: 400px;
  }
  .recent__content__item {
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .recent__header {
    margin-bottom: 30px;
    margin-top: 70px;
  }
  .recent__header:after,
  .recent__header:before {
    width: 70px;
  }
}
@media (min-width: 320px) and (max-width: 424px) {
  .recent__content {
    width: 300px;
  }
  .recent {
    width: 300px;
  }
  .recent__content__item {
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .recent__content__item img {
    max-width: 300px;
  }
  .recent__content__item__text {
    width: 300px;
  }
  .recent__header {
    margin-bottom: 30px;
    margin-top: 70px;
  }
  .recent__header:after,
  .recent__header:before {
    width: 40px;
  }
}
