logo_size = 45px

#nav{
  position: fixed;
  width: 100%
  z-index: 3;
  top :0;
}
.navbar__container{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  min-height: 70px;

  &__logo img{
      height: logo_size;
      width : logo_size;
  }

  &__nav {
    list-style: none;
    li {
      display: inline-block;
      position: relative;
      float: left;
      &:hover{
        .navbar__container__nav__item__inside{
          left : -42px;
          padding-top: 10px;
        }
        }
      }

    &__item {
      text-decoration: none;
      margin: 15px;
      font-family: 'Raleway', sans-serif;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      color: #858585;
      transition: .5s;

       &:hover, &:focus {
        color: #1abb9c;
        cursor: pointer;
        transition: .5s;
      }
    }
}
}

.navbar {
  width: 100%;
  background: #f5f5f5;
}



.dropdown-top{
    position: relative;
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
         &:hover{
           .dropdown-inside {
             display: block;
             left: 0;
             }
         }
}

.navbar__container__nav__item__inside{
position: absolute;
left: -9999px;
z-index: 3;
 li{
   display: block;
    width: 90px;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
 }
}
.navbar__container__nav__item__inside__item{
  text-decoration: none;
  margin: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #858585;
  transition: .5s;

   &:hover, &:focus {
    color: #1abb9c;
    cursor: pointer;
    transition: .5s;
  }
}

.adaptive-menu{
    display: none;
    background: #f5f5f5;
    &__container{
      display: flex;
      justify-content:space-between;
      align-items: center;
      width: 250px;
      margin: 0 auto;
      min-height: 70px;
    }
}


@media (min-width: 1024px) and (max-width: 1440px)
{
    .navbar__container{
      width: 900px;
    }
}

@media (min-width: 767px) and (max-width: 1023px)
{
    .navbar__container{
      width: 700px;
    }
}

@media (min-width: 425px) and (max-width: 767px)
{
    #nav{
      display: none;
    }
    .navbar__container{
      width: 400px;
    }
    .adaptive-menu{
      display: block;
    }
}

@media (min-width: 320px) and (max-width: 424px)
{
    .navbar__container{
      width: 300px;
    }
    #nav{
      display: none;
    }
    .adaptive-menu{
      display: block;
      }
}
